{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-console": 0,
        "no-unused-vars": 0,
        "dot-notation": 1,
        "guard-for-in": 1,
        "no-alert": 1,
        "no-caller": 1,
        "no-case-declarations": 1,
        "no-empty-pattern": 1,
        "no-eq-null": 1,
        "no-eval": 1,
        "no-extend-native": 1,
        "no-extra-bind": 1,
        "no-fallthrough": 1,
        "no-labels": 1,
        "no-lone-blocks": 1,
        "no-loop-func": 1,
        "no-multi-str": 1,
        "no-multi-spaces": 1,
        "no-native-reassign": 1,
        "no-new-wrappers": 1,
        "no-octal-escape": 1,
        "no-octal": 1,
        "no-proto": 1,
        "no-redeclare": 1,
        "no-return-assign": 1,
        "no-sequences": 1,
        "no-throw-literal": 1,
        "no-unused-expressions": 1,
        "no-useless-call": 1,
        "no-useless-concat": 1,
        "yoda": 1
    }
}
