.comment {
    @extend %clearfix;
    margin-bottom: 10px;

    &__author {
        float: left;
        width: 90px;
        padding: 0 10px 0 0px;
    }

    &__text {
        float: left;
        width: calc(100% - 90px);
    }
}
