<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="/">Goeat</a>
    <div id="header-account"></div>
  </div>
</nav>

<main class="main" role="main" id="main">
    <div class="container">
        <h1 class="h1">Минуточку...</h1>
    </div>
</main>
<br>
<hr>
<div class="container">
    <span class="text-muted pull-right">
        <span class="glyphicon glyphicon-cutlery"></span>
    </span>
    <span class="text-muted">Goeat, копирайт 2016, вся хуйня</span>
    &nbsp; &nbsp;
    <a target="_blank" href="https://github.com/edele/goeat">Поглумиться над исходниками</a>
    &nbsp; &nbsp;
    <a target="_blank" href="https://github.com/edele/goeat/issues/new">Сообщить о проблеме</a>
</div>
<br>
