<div class="event-item {{#if isPast}}event-item--past{{/if}}">
    <h3>{{title}}</h3>
    <div>
        {{relativeTime}},
        <span class="event-item__precise-time">{{preciseTime}}</span>
    </div>
</div>
