<div class="container">
    <div id="events-form"></div>
    <div class="clearfix">
        <div class="btn btn-primary pull-right js-add">+ Добавить событие</div>
    </div>
    <div id="events-welcome"></div>
</div>

<div id="events-list"></div>
