<label class="form-row">
    <span class="form-label">Эл. почта</span>
    <input class="form-text w-100" type="text" name="email" placeholder="Эл. почта"/>
</label>
<label class="form-row">
    <span class="form-label">Пароль</span>
    <input class="form-text w-100" type="password" name="password" placeholder="Пароль"/>
</label>
<button class="btn btn--primary login__submit" type="submit">Войти</button>
<div class="login__error">
    <span class="js-email-error"></span>
    <span class="js-password-error"></span>
    <span class="js-server-error"></span>
</div>
