<h1>Йо, велкам!</h1>
<div class="lead">Ты у нас впервые, давай знакомиться</div>

<form>
    <div class="form-group form-group-lg">
        <input type="text" id="account-name" class="form-control" name="name" placeholder="Имя Фамилия">
        <p class="js-name-error text-danger"></p>
        <button type="submit" class="btn btn-lg btn-primary">Зовите меня так</button>
    </div>
</form>
